/* body{
    background-color: rgb(113, 205, 205);
    text-align: center;
    color: white;
    font-style: "MS Mincho";
}


.title{
    height: 100px;
    border-bottom: 5px solid white;
}

.name{
    height: 700px;
    
} */